<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>


 


      .success {
        color: green;
      }
    </style>
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>

      <% if (error) { %>
      <div class="message"><%= error %></div>
      <% } %> <% if (success) { %>
      <div class="message success"><%= success %></div>
      <% } %>

      <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
        <button type="submit"><a href="/v1/api/data">dashboard</a></button>

      </form>
    </div>
  </body>
</html>
